.body{
    background-color: lightgray;
}
.img-rounded{
    border-radius: 50%;
    margin-top: 1rem;
    border-width: 19px ;
    border-color: black;
   
}

/* .card-edge{
    border-radius:10%;
    background-color: wit;
} */

.TCenter{
    text-align: center;
}

